@media screen and (max-width: 600px) {
	.enterBtn {
		margin: 0!important;
		padding: 0.5rem!important;
		width: 25%!important;
	}

	#myInput {
		padding: 0.5rem!important;
	}

	.doneBtn {
		width: 25%!important;
	}
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
}

.headerBox {
	padding: 1rem 1rem 2rem 1rem;
	background-color: #4A2B75;
	color: white;
	text-align: center;
}

#myInput {
	padding: 0.7rem;
	width: 60%;
}

.enterBtn {
	margin: 0 0.5rem;
	padding: 0.7rem;
	width: 10%;
	background-color: #C4C1C6;
}

.enterBtn:hover {
	background-color: #5D516A;
	box-shadow: 1px 1px 1px grey;
	transition: 0.4s;	
}

.myList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #FFFF;
}

ul li:nth-child(odd) {
	background-color: #e9e1ed;
}

ul li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;	
	padding: 0.8rem 1.5rem;
  	user-select: none;	
}

ul li:hover {
	background-color: #92759E;
}

.checked {
	text-decoration: line-through!important;
}

.doneBtn {
	width: 10%;
	padding: 0.5rem;
	background-color: #C4C1C6;
}

.doneBtn:hover {
	background-color: #5D516A;
	box-shadow: 3px 3px 2px grey;
	transition: 0.4s;
}